@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

body{
  background-color: var(--background);
  color: var(--foreground);
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
