@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}


body{
  background-color: var(--background);
  color: var(--foreground);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
